<div id='photo-header'>
  <%= image_tag 'profile-photo.jpg', class: 'profile-photo' %>
</div>

<div id='intro'>
  I'm Vincent Cabansag, an entreprenuer and developer. <br />
  I run the operations the <%= link_to 'Starter League', 'http://www.starterleague.com' %> and teach at the <%= link_to 'Starter School', 'http://www.starterschool.com' %>.<br />
  I also like to take <%= link_to 'photos', 'http://instagram.com/vcabansag' %>.
</div>

<center><hr></center>

<div class='section'>
  <h5>Latest posts</h5>
  <ul>
    <% @posts.each do |post| %>
      <li><%= link_to post.title, permalink_path(permalink: post.permalink) %></li>
    <% end %>
  </ul>
</div>

<center><hr></center>

<div class='section'>
  Read my blog <%= link_to 'here', posts_path %>.
</div>

<div class='section'>
  See my latest photos on <%= link_to 'Instagram', 'http://instagram.com/vcabansag' %>.
</div>

<div class='section'>
  Follow me on Twitter at
  <%= link_to '@vcabansag', 'https://twitter.com/vcabansag' %>.
</div>

<div class='section'>
  Contact me at <%= mail_to 'vcabansag@gmail.com' %>.
</div>
