<% @posts.each do |post| %>

	<h2><%= link_to post.title, post, :class => "override" %></h2>
	<p><h7>Posted on <%= time_tag(post.created_at, :format => '%B %d, %Y') %></h7></p>
  <% if post.image.present? %>
  <p><%= image_tag post.image.url(:medium) %></p>
  <% end %>
  <%= post.body.html_safe %>
	<br />
	<br />

<% end %>
<%= paginate @posts  %>
