<div id="sidebar_title">RECENT POSTS</div>

<div id="sidebar_content">
<% @recent_posts.each do |post| %>
	<%= link_to post.title, post %>
	<br />
<% end %>

<br />

<div id="sidebar_title">RECENT TWEETS</div>

<div id="tweets">
<% tweets.each do |t| %>
    <%= markdown(tweet_handle_parser(t.text)) %></p>
<% end %>
</div>



<% if signed_in? %>
Logged in as <%= @current_user.name %> | <%= link_to 'Logout', signout_url, :method => :delete %>
<% else %>
<p><%= link_to 'Login', new_session_url %></p>
<% end %>

<% if signed_in? %>
<p><%= link_to 'New Post', new_post_url %></p>
<% else %>
<% end %>

</div>

