<p id="notice"><%= notice %></p>

<%= render 'post' %>



<% if signed_in? %>
<%= link_to 'edit', edit_post_path(@post) %> |
<%= link_to 'delete', @post, :confirm => 'Are you sure?', :method => :delete %> |
<% else %>
<% end %>

<%= link_to 'back', posts_path %>
