<div class='show-for-small small-12 small-centered columns'>
  <h4 class='post-title'><%= link_to @post.title, permalink_path(permalink: @post.permalink) %></h4>
  <h6 class='post-date'><%= "Written on #{@post.created_at.strftime('%B %e, %Y')}" %></h6>
  <%= markdown.render(@post.content).html_safe %>
  <% if logged_in? %>
    <%= link_to 'Edit post', edit_post_path(@post) %>
  <% end %>
  <p><%= link_to 'Back to all blog posts', posts_path %></p>
</div>

<div class='show-for-medium large-9 large-centered columns'>
  <h3 class='post-title'><%= link_to @post.title, permalink_path(permalink: @post.permalink) %></h3>
  <h5 class='post-date header'><%= "Written on #{@post.created_at.strftime('%B %e, %Y')}" %></h5>
  <%= markdown.render(@post.content).html_safe %>
  <% if logged_in? %>
    <%= link_to 'Edit post', edit_post_path(@post) %>
  <% end %>
  <p><%= link_to 'Back to all blog posts', posts_path %></p>
</div>

<div class='show-for-large-up large-9 large-centered columns'>
  <h1 class='post-title'><%= link_to @post.title, permalink_path(permalink: @post.permalink) %></h1>
  <h5 class='post-date header'><%= "Written on #{@post.created_at.strftime('%B %e, %Y')}" %></h5>
  <%= markdown.render(@post.content).html_safe %>
  <% if logged_in? %>
    <%= link_to 'Edit post', edit_post_path(@post) %>
  <% end %>
  <p><%= link_to 'Back to all blog posts', posts_path %></p>
</div>
