<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
	<h1><%= link_to 'The Blog of Vincent Cabansag', posts_url, :class => "override" %></h1>
</div>

<% flash.each do |key, value| %>
<div id="flash" <%= key %>"><%= value %></div>
<% end %>

<div id="content">
<%= yield %>
</div>

<div id="sidebar">
<%= yield :sidebar %>
</div>

<div id="footer">
</div>

</body>
</html>
