<!DOCTYPE html>
<html>
<head>
  <title><%= pagetitle %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag(:rss, "http://www.vincentcabansag.com/posts.rss") %>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-26209694-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

  <%# <%= google_font_link_tag 'Vollkorn', :regular, :italic, :bold, :bolditalic %> %>
</head>
<body>

<div id="header">
	<h1><%= link_to "#{@blogtitle}", posts_url, :class => "override" %></h1>
</div>

<% flash.each do |key, value| %>
<div id="flash" <%= key %>"><%= value %></div>
<% end %>

<div id="content">
<%= yield %>
</div>

<div id="sidebar">
<%= yield :sidebar %>
</div>

<div id="footer">
</div>


</body>
</html>
